/**
 * Main reveiver CSS.
 */

 body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    background:#3498db;
  }
  
  #dashboard {
    width: 100%;
    height: 100%;
    border: 0;
    /* Ensure page content loads in front of loading text to avoid partial
       rendering during transition on Chromecast. */
    z-index: 100;
  }
  
  
  .cs-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .hello {
    top: 25%;
    position: absolute;
    width: calc(100% - 200px);
    color: #FFF;
    padding: 0 100px;
    text-align: center;
    font-size: 5em;
    font-family: 'Lobster', cursive;
  }
  
